{% extends 'base.html' %}


{% block title %}
Register Page
{% endblock %}

{% block content %}

<!-- <h1>Register Form </h1> -->

<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">

            {{ form.hidden_tag() }}

            <img src="{{ url_for('static', filename='logo_image.png') }}"
                alt="img" class="m-4 img-fluid" style="max-width: 180px;">

            <h1 class="h3 mb-3 font-weight-normal">
                Please Create you account
            </h1>

            <br>

            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}

            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="Email Address") }}

            {{ form.password_1.label() }}
            {{ form.password_1(class="form-control", placeholder="******") }}

            {{ form.password_2.label() }}
            {{ form.password_2(class="form-control", placeholder="******") }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
        <br>
        <p>Already Have an account ? <a href="{{ url_for('login_page')}}">Sign Up</a></p>

    </div>
</body>

{% endblock %}